In [1]:
# Ans no 1

In [2]:
a=[(1.5),'kush',]

In [13]:
# Ans no 2

In [14]:
# (i) var1 = ' ' = String

In [15]:
#(ii) var2 = ‘[ DS , ML , Python]’ = String

In [16]:
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] = List

In [17]:
#(iv) var4 = 1. = Float

In [18]:
# Ans no 3

In [22]:
# 1) / Division operator is used to perform division between two values. It resturns Quotient in the float value.
# for ex- 
x=15
y=2
div=x/y
print(div);

7.5

In [23]:
#2) % Modulo operator is used to find remainder when one no is devided by other it gives remainder.
# for ex-
x=9
y=3
mod=x%y
print(mod);

0

In [24]:
#3 // The floor division operator // performs division between two numbers and returns the whole number quotient, discarding the fractional part. 
#The result is an integer value.
#for ex-
x=89
y=8
f=x//y
print(f);

11

In [25]:
#4 ** The exponentiation operator ** is used to raise a number to a power.
# It calculates the result of the base number raised to the exponent.
#for ex-
u=8
i=3
ex=8**3
print(ex);

512

In [26]:
# Ans no 4

In [27]:
a=['kush',8.9,2,'ram','s',3,56,32,6.7,7]
for i in a:
    print(type(i))
    print(i)

<class 'str'>
kush
<class 'float'>
8.9
<class 'int'>
2
<class 'str'>
ram
<class 'str'>
s
<class 'int'>
3
<class 'int'>
56
<class 'int'>
32
<class 'float'>
6.7
<class 'int'>
7

In [28]:
# Ans no 5

In [1]:
a=64
b=2
count=0
while a % b==0:
    a=a//b
    count +=1
print(a)
print(count)

1
6

In [2]:
# Ans no 6
d=[23,3,87,56,98,34,90,7,8,9,6,5,54,12,21,43,49,61,31,78,8,65,54,62,32]
for i in d:
    if i%3==0 :
         print(i, " is devisible by 3")
    else :
        print(i," is not devisible by 3")

23  is not devisible by 3
3  is devisible by 3
87  is devisible by 3
56  is not devisible by 3
98  is not devisible by 3
34  is not devisible by 3
90  is devisible by 3
7  is not devisible by 3
8  is not devisible by 3
9  is devisible by 3
6  is devisible by 3
5  is not devisible by 3
54  is devisible by 3
12  is devisible by 3
21  is devisible by 3
43  is not devisible by 3
49  is not devisible by 3
61  is not devisible by 3
31  is not devisible by 3
78  is devisible by 3
8  is not devisible by 3
65  is not devisible by 3
54  is devisible by 3
62  is not devisible by 3
32  is not devisible by 3

In [3]:
# Ans no 7
#Mutable data types:
#Mutable data types are those whose values can be modified after they are created.
#Changes made to a mutable object affect the object directly without creating a new object.

In [8]:
k=['kush',80,7.5]

In [9]:
k[1]

80

In [10]:
k[1]=32

In [11]:
k

['kush', 32, 7.5]

In [12]:
#so you can see in this example value of k can be modified

In [13]:
#Immutable data types:
#Immutable data types are those whose values cannot be modified once they are created.
#Any operation that appears to modify an immutable object actually creates a new object with the modified value.

In [14]:
s='shyam'

In [15]:
s[1]

'h'

In [16]:
s[1]=a

TypeError: 'str' object does not support item assignment

In [17]:
# in this example you can see that we can not modify s as it is imutable